<!DOCTYPE HTML>

<html ng-app="versionesApp" lang="es-do" style="background-color: white;" >
<head>
		<title>Versiones</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta http-equiv="refresh" content="300">
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/skel-viewport.min.js"></script>
			<script src="assets/js/util.js"></script>

			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>


		<script src="assets/js/angular.min.js"></script>
		<script src="assets/js/angucomplete-alt.js"></script>
		<script src="assets/js/angular-resource.js"></script>
		<script src="assets/js/services.js"></script>
		<script src="assets/js/app.js"></script>

		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->


	</head>

    <body ng-controller="appController as app">
		<div id="page-wrapper">
		<div class="inicioSesion"><a href="inicioSesion.html">Iniciar Sesion</a></div>
		<div angucomplete-alt class="divBuscar" minlength="3" placeholder="Buscar"  input-class="inpBuscar"  match-class="highlight" remote-url="http://dashboard.version.sigef.gov.do/dashboard/api/versionBuscar?s=" remote-url-data-field="resultados" title-field="numero,branch" description-field="branch" selected-object="seleccionVersionAut" ></div>
		<div class="info">
			<a title="Versiones Procesando aun sin fila" href="versionProcesando.html" class="number">{{app.versionesProcesando}}</a>
			<a title="Versiones Recientemente fallaron" href="restaurarVersion.html" class="number">{{app.versionesFallidas}}</a>
		</div>
			<div id="header-wrapper">
				<div class="container">
					<div class="row">
						<div class="12u">

							<header id="header">
								<h1><a href="app.html" id="logo">versiones</a></h1>
								 <div >

									<nav id="nav">
										<a ng-repeat="aplicacion in app.aplicaciones" href="app.html?aplicacion={{aplicacion.nombre}}" class="{{aplicacion.css}}">{{aplicacion.nombre}}</a>
									</nav>
								</div>
							</header>

						</div>
					</div>
				</div>
			</div>
			<div id="main" style="padding-bottom: 1.2em;">
				<div class="container">
					<div class="row main-row">
						<div class="12u"  style="padding: 0 0 0 50px">
							<header id="headerAmbientes">
								<nav id="ambientes">
									<a ng-repeat="ambiente in app.ambientes | orderBy:'orden'" href="{{ambiente.href}}" class="{{ambiente.css}}" style="text-transform: capitalize">{{ambiente.nombre}}</a>
								</nav>
							</header>
						</div>
					</div>
				</div>
			</div>
			<div id="footer-wrapper">
				<div class="container">
					<div class="row">

							<h2 style="margin-bottom: 0;">Fila de Espera <div style="float: right;" class="{{app.cssActualizando}}"></div> </h2>
							<div  style="width: 100%; padding-top: 0px;">
								<div class="row rowFila rowHeaderFila">
									<div class="aplicacion c1" style="color: black">Numero</div>
									<div class="aplicacion c3" style="color: black">Autor</div>
									<div class="aplicacion c3" style="color: black">Branch</div>
									<div class="aplicacion c2" style="color: black">Fecha</div>
									<div class="aplicacion c3" style="color: black;float: right"><p style="display: {{app.cssControlesPrioridad}}">Operaciones</p></div>
									<div class="aplicacion c2" style="float: right" ><div class="scriptIcon" title="Cantidad de Scripts"></div></div>
									<div class="aplicacion c2" style="float: right" ><div class="reportIcon" title="Cantidad de Reportes"></div></div>
								</div>

								<div  ng-repeat="version in app.versionesFila | orderBy:'prioridad' ">
								<div class="versionRow">
										<div class="row rowFila">
										<div class="aplicacion v versionNumber c1"><a href="version.html?versionId={{version.versionId}}">{{version.numero}}</a></div>
										<div class="aplicacion v c3"><a href="persona.html?id={{version.autor.id}}">{{version.autor.nombre}}</a></div>
										<div class="aplicacion v c3"><a href="branch.html?branch={{version.branchOrigen}}">{{version.branchOrigen}}</a></div>
										<div class="aplicacion v c2">{{version.fechaVersion}}</div>
										<div class="aplicacion v c3" style="float: right">
											<div class="controlesPrioridad" style="display: {{app.cssControlesPrioridad}}">
													<div class="operacion bottomUp" ng-click="upVersion(version)"></div>
													<div class="operacion bottomDown" ng-click="downVersion(version)"></div>
													<dialog id="dig{{version.id}}">
													<div class="bottomCancelar" style="float: left;margin-right: 20px;background-color: black;border: 1px solid black;border-radius: 30px;"></div>
														<h3>Esta seguro que quiere eliminar de la fila la version {{version.numero}}</h3>
														<p>Esta operacion puede ser reversada, recupuerandola de versiones historicas.</p>
														<button class="eliminaFila" ng-click="eliminaVersion(version)">Eliminar</button>
														<button class="cierraVentana" ng-click="cerrarVersionDialog(version)">Cerrar Ventana</button>
													</dialog>
													<div class="operacion bottomCancelar" ng-click="cancelarVersionDialog(version)"></div>
											</div>
										</div>
										<div class="aplicacion v c2" style="float: right"><a href="scriptVersion.html?version={{version.id}}" class="scriptNumber">{{version.cantidadScripts}}</a> </div>
										<div class="aplicacion v c2" style="float: right"><a href="reporteVersion.html?version={{version.id}}" class="scriptNumber">{{version.cantidadReports}}</a> </div>
									</div>

									<div class="tickets">
										<div  style="float: left; padding-right: 15px" ng-repeat="jira in version.jiras | orderBy"><a href="http://172.16.7.42:8080/browse/{{jira}}" target="jira">{{jira}}</a></div>
										<div  style="float: left; padding-right: 15px" ng-repeat="ticket in version.tickets | orderBy"><a href="http://serviciossiafe.hacienda.gov.do:8080/index.jsp#/SREdit.jsp?QuickAcess&id={{ticket}}" target="sysaid">{{ticket}}</a> </div>

									</div>
									<div class="tickets">
										<div  style="float: left; padding-right: 15px" ng-repeat="dueno in version.duenos | orderBy:'nombre'"><a href="personaMetrica.html?id={{version.autor.id}}" target="dueno">{{dueno.nombre}}</a></div>
									</div>
								</div>
								</div>
							</div>
					</div>
				</div>
				<div class="container" style="padding-top: 50px;padding-bottom: 50px">
					<h2>Servidores</h2>
					<div class="server s{{servidor.estado}} {{server.cssNoDisponible}}" ng-repeat="servidor in app.servidores | orderBy:'nombre'">
						<nav class="menuCss" ng-show="app.usuarioDuenoAmbiente">
								<ul>
									<li ng-show="versionPuedeCambiarServidor(servidor)"><div>Cambiar Servidor</div>
											<ul>
												<li ng-repeat="oServer in app.servidores | orderBy:'nombre' | filter: filtroServidoresLibres"><div ng-click="cambiaVersionServidor(oserver,server)">{{oServer.nombre}}</div></li>
											</ul>
									</li>
									<li ng-show="server.disponible"><a href="#" ng-click="servidorMarcaNoDisponible(servidor)">Marcar como no disponible</a></li>
									<li ng-show="!server.disponible"><a href="#" ng-click="servidorMarcaDisponible(servidor)">Marcar como disponible</a></li>
									<li ng-show="server.libre"><a href="#" ng-click="servidorCopiaReportes(servidor)">Copiar reporte de nuevo</a></li>
									<li ng-show="server.libre"><a href="#" ng-click="servidorEjecutarScripts(servidor)">Ejecutar Todos Scripts de nuevo</a></li>
									<li ng-show="server.libre"><a href="#" ng-click="servidorEjecutarAntesScripts(servidor)">Ejecutar Scripts Antes de nuevo</a></li>
									<li ng-show="server.libre"><a href="#" ng-click="servidorEjecutarDespuesScripts(servidor)">Ejecutar Scripts Despues de nuevo</a></li>
							</ul>
						</nav>
						<div><a href="{{servidor.ruta}}" target="aplicacion">{{servidor.nombre}}</a></div>
						<div style="margin-top: 10px;"><a href="baseDatosMetrica.html?id={{servidor.repositorioDatos.id}}" title="Base de datos actualizada para la fecha {{servidor.repositorioDatos.actualizacion}}">{{servidor.repositorioDatos.host}}:{{servidor.repositorioDatos.puerto}}/{{servidor.repositorioDatos.schema}}</a></div>
						<div class="servidorVersion"><a  title="Numero de la version" href="version.html?versionId={{servidor.version.id}}">{{servidor.version.numero}}</a> </div>
						<div class="servidorVersion"><a title="Branch de la version" href="branch.html?branch={{servidor.version.branch}}">{{servidor.version.branch}}</a> </div>
						<div class="tickets servidorTick">
							<div  style="float: left; padding-right: 15px" ng-repeat="ticket in servidor.tickets | orderBy"><a href="http://serviciossiafe.hacienda.gov.do:8080/index.jsp#/SREdit.jsp?QuickAcess&id={{ticket}}" target="sysaid">{{ticket}}</a> </div>
							<div  style="float: left; padding-right: 15px" ng-repeat="jira in servidor.jiras | orderBy"><a href="http://172.16.7.42:8080/browse/{{jira}}" target="jira">{{jira}}</a></div>
						</div>
						<div class="button" style="display: {{servidor.css}}" ng-click="undeploy(servidor)">Undeploy</div>
					</div>
				</div>
			</div>
		</div>


		<!-- Scripts -->

	</body>

</html>