<!DOCTYPE HTML>

<html ng-app="versionesApp">
<head>
		<title>Versiones</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<script src="assets/js/angular.min.js"></script>
		<script src="assets/js/angular-resource.js"></script>
		<script src="assets/js/app.js"></script>
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
	</head>

    <body>
		<div id="page-wrapper">
			<div id="header-wrapper">
				<div class="container">
					<div class="row">
						<div class="12u">

							<header id="header">
								<h1><a href="index.html" id="logo">versiones</a></h1>
								 <div ng-controller="appController as app">

									<nav id="nav">
										<a ng-repeat="aplicacion in app.aplicaciones" href="app.html?aplicacion={{aplicacion.nombre}}" class="{{aplicacion.css}}">{{aplicacion.nombre}}</a>
									</nav>
								</div>
							</header>

						</div>
					</div>
				</div>
			</div>
			<div id="main" style="padding-bottom: 1.2em;">
				<div class="container">
					<div class="row main-row">
						<div class="12u" ng-controller="appController as app" style="padding: 0 0 0 50px">
							<header id="headerAmbientes">
								<nav id="ambientes">
									<a ng-repeat="ambiente in app.ambientes" href="{{ambiente.href}}" class="{{ambiente.css}}">{{ambiente.nombre}}</a>
								</nav>
							</header>
						</div>
					</div>
				</div>
			</div>
			<div id="footer-wrapper">
				<div class="container">
					<div class="row">
			
							<h2 style="margin-bottom: 0;">Fila de Espera</h2>
							<div ng-controller="appController as app" style="width: 100%">
								<div class="row rowFila rowHeaderFila">
									<div class="aplicacion c1" style="color: black">Numero</div>
									<div class="aplicacion c3" style="color: black">Autor</div>
									<div class="aplicacion c3" style="color: black">Branch</div>
									<div class="aplicacion c2" style="color: black">Fecha</div>
									<div class="aplicacion c4" style="color: black;float: right">Operaciones</div>
								</div>
								
								<div  ng-repeat="version in app.versionesFila | orderBy:'prioridad' ">
								<div class="versionRow">
										<div class="row rowFila">
										<div class="aplicacion v versionNumber c1">{{version.numero}}</div>
										<div class="aplicacion v c3">{{version.autor}}</div>
										<div class="aplicacion v c3">{{version.branchOrigen}}</div>
										<div class="aplicacion v c2">{{version.fechaVersion}}</div>
										<div class="aplicacion v c4" style="float: right">
											<div style="display: {{version.controles}}">
													<div class="operacion bottomUp" ng-click="upVersion(version)"></div>
													<div class="operacion bottomDown" ng-click="downVersion(version)"></div>
													<div class="operacion bottomCancelar" ng-click="cancelarVersion(version)"></div>
											</div>
										</div>
									</div>

									<div class="tickets">
										<div  style="float: left; padding-right: 15px" ng-repeat="jira in version.jiras"><a href="http://172.16.7.42:8080/browse/{{jira}}" target="jira">{{jira}}</a></div>
										<div  style="float: left; padding-right: 15px" ng-repeat="ticket in version.tickets"><a href="http://serviciossiafe.hacienda.gov.do:8080/index.jsp#/SREdit.jsp?QuickAcess&id={{ticket}}" target="sysaid">{{ticket}}</a> </div>

									</div>
									<div class="tickets">
										<div  style="float: left; padding-right: 15px" ng-repeat="dueno in version.duenos"><a href="http://172.16.7.42:8080/browse/{{jira}}" target="dueno">{{dueno}}</a></div>
									</div>
								</div>

								</div>
							</div>


					</div>

				</div>
				<div class="container" ng-controller="appController as app" style="padding-top: 50px;padding-bottom: 50px">
					<h2>Servidores</h2>
					<div class="server s{{servidor.estado}}" ng-repeat="servidor in app.servidores">
						<div><a href="http://{{servidor.nombre}}/{{app.aplicacion}}" target="aplicacion">{{servidor.nombre}}</a></div>
						<div>{{servidor.basedatos}}</div>
						<div class="servidorVersion">{{servidor.version}}</div>
						<div class="tickets servidorTick">
							<div  style="float: left; padding-right: 15px" ng-repeat="jira in servidor.jiras"><a href="http://172.16.7.42:8080/browse/{{jira}}" target="jira">{{jira}}</a></div>
							<div  style="float: left; padding-right: 15px" ng-repeat="ticket in servidor.tickets"><a href="http://serviciossiafe.hacienda.gov.do:8080/index.jsp#/SREdit.jsp?QuickAcess&id={{ticket}}" target="sysaid">{{ticket}}</a> </div>
						</div>
						<div class="button" style="display: {{servidor.deploy}}">Undeploy</div>
					</div>
				</div>
			</div>
		</div>


		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/skel-viewport.min.js"></script>
			<script src="assets/js/util.js"></script>

			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

	</body>

</html>