<!DOCTYPE HTML>

<html ng-app="branchApp" lang="es-do"  style="background-color: white;" >
<head>
		<title>Versiones</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

				<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/skel-viewport.min.js"></script>
			<script src="assets/js/util.js"></script>

			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>


		<script src="assets/js/angular.min.js"></script>
		<script src="assets/js/angular-resource.js"></script>
		<script src="assets/js/services.js"></script>
		<script src="assets/js/branch.js"></script>

		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->


	</head>

    <body ng-controller="appController as app">
		<div id="page-wrapper">
		<div class="inicioSesion"><a href="inicioSesion.html">Iniciar Sesion</a></div>
			<div id="header-wrapper">
				<div class="container">
					<div class="row">
						<div class="12u">

							<header id="header">
								<h1><a href="app.html" id="logo">version {{app.branch}}</a></h1>
								<div style="float: right;color:white;"><a style="color: white;" title="{{app.mensaje}}" href="{{app.link}}" target="servidor">{{app.svnOrigen}}</a><br>{{app.version.svnRevision}}</div>
							</header>

						</div>
					</div>
				</div>
			</div>
			<div id="main" style="padding-bottom: 1.2em;">
				<div class="container">
					<div style="width: 100%;display: inline-block;">
						<div style="width: 50%;display: inline-block;float: left;">
							<div class="tickets">
								<div  title="Ticket de sysaid" style="float: left; padding-right: 15px" ng-repeat="ticket in app.tickets | orderBy"><a href="http://serviciossiafe.hacienda.gov.do:8080/index.jsp#/SREdit.jsp?QuickAcess&amp;id={{ticket}}" target="sysaid">{{ticket}}</a> </div>
							</div>
						</div>
						<div style="width: 50%;display: inline-block;float: right">

						</div>
					</div>
					<div  class="divContenedor">

									<div  style="width: 100%; padding-top: 0px;">
								<div class="row rowFila rowHeaderFila">
									<div class="aplicacion c1" style="color: black">Numero</div>
									<div class="aplicacion c3" style="color: black">Autor</div>
									<div class="aplicacion c2" style="color: black">Fecha</div>
									<div class="aplicacion c2" style="color: black">Estado</div>
									<div class="aplicacion c2" style="float: right" ><div class="scriptIcon" title="Cantidad de Scripts"></div></div>
									<div class="aplicacion c2" style="float: right" ><div class="reportIcon" title="Cantidad de Reportes"></div></div>
								</div>

								<div  ng-repeat="version in app.versiones">
									<div class="versionRow">
											<div class="row rowFila">
											<div class="aplicacion v versionNumber c1"><a href="version.html?versionId={{version.versionId}}">{{version.numero}}</a></div>
											<div class="aplicacion v c3">{{version.autor}}</div>
											<div class="aplicacion v c2">{{version.fecha}}</div>
											<div class="aplicacion v c2">{{version.estado}}</div>

											<div class="aplicacion v c2" style="float: right"><a href="scriptVersion.html?version={{version.id}}" class="scriptNumber">{{version.cantidadScripts}}</a> </div>
											<div class="aplicacion v c2" style="float: right"><a href="reporteVersion.html?version={{version.id}}" class="scriptNumber">{{version.cantidadReports}}</a> </div>
										</div>

									</div>
								</div>
							</div>
					</div>
				</div>
			</div>
			<div id="footer-wrapper">

			</div>
		</div>
	</body>

</html>