<!DOCTYPE HTML>

<html ng-app="configApp">
<head>
<title>Configuracion Notificacion</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<script src="assets/js/angular.min.js"></script>
<script src="assets/js/angular-resource.js"></script>
<script src="assets/js/configuracionNotificacion.js"></script>

<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
<link rel="stylesheet" href="assets/css/main.css" />
<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
</head>

<body ng-controller="configController as app">
	<div id="page-wrapper">
		<div class="inicioSesion">
			<a href="inicioSesion.html">Iniciar Sesion</a>
		</div>
		<div id="header-wrapper">
			<div class="container">
				<div class="row">
					<div class="12u">

						<header id="header">
							<h1>
								<a href="index.html" id="logo">Configuracion Notificaciones</a>
							</h1>
							<div>

								<nav id="nav">
									<a href="app.html">Versiones</a>
								</nav>
							</div>
						</header>

					</div>
				</div>
			</div>
		</div>
		<div id="main" style="padding-bottom: 1.2em;">
			<div class="container">




					<div class="grupoContainer" ng-repeat="aplicacion in app.applicaciones">
						<div>
							<p style="margin: 0px; line-height: 0px">{{aplicacion.nombre}}</p>
						</div>

						<div class="grupoContainer" ng-repeat="ambiente in aplicacion.ambientes">

							<div>
								<p style="margin: 0px; line-height: 0px">{{ambiente.nombre}}</p>
							</div>
							<div ng-hide="ambiente.tipoNotificaciones.grupos">
								<div class="grupoContainer" ng-repeat="tipo in ambiente.tipoNotificaciones">
									<div>
										<p style="margin: 0px; line-height: 0px">{{tipo.nombre}}</p>
									</div>
										<ul>
											<li ng-repeat="grupo in tipo.grupos">{{grupo.grupoNombre}}  <div class="deleteUser" ng-click="eliminaConfig(grupo)"/></li>
										</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
		</div>
	</div>

	<!-- Scripts -->
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/skel.min.js"></script>
	<script src="assets/js/skel-viewport.min.js"></script>
	<script src="assets/js/util.js"></script>

	<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
	<script src="assets/js/main.js"></script>

</body>

</html>