<!DOCTYPE HTML>

<html ng-app="versionesApp" lang="es-do" style="background-color: white;">
<head>
		<title>Versiones</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

				<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/skel-viewport.min.js"></script>
			<script src="assets/js/util.js"></script>

			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>


		<script src="assets/js/angular.min.js"></script>
		<script src="assets/js/angular-resource.js"></script>
		<script src="assets/js/services.js"></script>
		<script src="assets/js/version.js"></script>

		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->


	</head>

    <body ng-controller="appController as app">
		<div id="page-wrapper">
		<div class="inicioSesion"><a href="inicioSesion.html">Iniciar Sesion</a></div>
			<div id="header-wrapper">
				<div class="container">
					<div class="row">
						<div class="12u">

							<header id="header">
								<h1><a href="app.html" id="logo">version {{app.version.numero}}</a></h1>
								<div style="float: right;color:white;">{{app.version.estado}}<br>{{app.version.fecha}}<br> <a style="color: white;" title="{{app.mensaje}}" href="{{app.link}}" target="servidor">{{app.version.svnOrigen}}</a><br>{{app.version.svnRevision}}</div>
							</header>

						</div>
					</div>
				</div>
			</div>
			<div id="main" style="padding-bottom: 1.2em;">
				<div class="container">

					<div  class="divContenedor">
							<span title="Autor de la version" class="label">{{app.version.autor}}</span>
							<span title="Branch de la version"  style="float: right;"><a href="branch.html?branch{{app.version.branch}}">{{app.version.branch}}</a> </span>

					</div>

					<div  class="divContenedor cuadroDiv" style="margin-top: 20px;">
							<h2>Jiras/SysAid Tickets</h2>
							<div  style="float: left; padding-right: 15px" ng-repeat="jira in app.version.jiras | orderBy"><a href="http://172.16.7.42:8080/browse/{{jira}}" target="jira">{{jira}}</a></div>
							<div  style="float: left; padding-right: 15px" ng-repeat="ticket in app.version.tickets | orderBy"><a href="http://serviciossiafe.hacienda.gov.do:8080/index.jsp#/SREdit.jsp?QuickAcess&id={{ticket}}" target="sysaid">{{ticket}}</a> </div>

					</div>
					<div  class="divContenedor cuadroDiv">
						<h2>Participantes</h2>
							<div  style="float: left; padding-right: 15px; margin-top: 20px;" ng-repeat="participante in app.version.participantes">{{participante.nombre}}</div>
					</div>

					<div  class="divContenedor cuadroDiv">
						<h2>Scripts</h2>
						<div  style="float: left; padding-right: 15px" ng-repeat="script in app.version.scripts">
						 	<div style="padding: 20px 20px 0 0">
						 								 <a href="{{script.url}}" target="script">{{script.nombre}}</a>
						 								  <br> {{script.tipo}} <br>
						 								  <a ng-repeat="jira in script.jiras" href="http://172.16.7.42:8080/browse/{{jira}}" style="margin-right: 10px"  target="jira">{{jira}}</a>
						 	 </div>

						  </div>
					</div>

					<div  class="divContenedor cuadroDiv">
						<h2>Reportes</h2>
						<div  style="float: left; padding-right: 15px" ng-repeat="reporte in app.version.reportes">
							<div style="padding: 20px">
								 <a href="{{reporte.url}}">{{reporte.nombre}}</a>
								  <br>
								  <a ng-repeat="jira in reporte.jiras"  href="http://172.16.7.42:8080/browse/{{jira}}" target="jira" style="margin-right: 10px" >{{jira}}</a>
							</div>
						</div>
					</div>

					<div  class="divContenedor cuadroDiv">
						<h2>Propiedades</h2>
						<div  style="float: left; padding-right: 15px" ng-repeat="propiedad in app.version.propiedades">  {{propiedad.nombre}} = {{propiedad.valor}} </div>
					</div>
					<div  class="divContenedor cuadroDiv">
						<h2>Expresiones de Cambios de Modelo de Datos</h2>
						<div  style="float: left; padding-right: 15px" ng-repeat="cambio in app.cambiosModelo">
							 <div style="padding: 20px; width: 300px"><h4>{ {{cambio.totalCantidad}} } {{cambio.objecto}} </h4>

							 	<div ng-repeat="tipoCambio in cambio.cambios">{ {{tipoCambio.cantidad}} } {{tipoCambio.tipo}}
							 </div>
							 	</div>
						</div>
					</div>
					<div  class="divContenedor cuadroDiv">
						<h2>Job Ejecutados</h2>
						<table style="width: 100%;">
							<tr>
								<td><h4>Fecha Registro</h4></td>
								<td><h4>Tipo Job</h4></td>
								<td><h4>Estado</h4></td>
							</tr>
							<tr ng-repeat="job in app.jobs">
								<td>{{job.fechaRegistro}}</td>
								<td>{{job.tipo}}</td>
								<td>{{job.estado}}</td>
							</tr>

						</table>
					</div>
				</div>
			</div>
			<div id="footer-wrapper">

			</div>
		</div>
	</body>

</html>